No Happy Eyeball and no Multi Homing support ( IPv6 IPv4 Dual Stack support )

### Your GTNH Discord Username

Balenty

### Your Pack Version

2.8.4

### Your Server

mc.sky-fighter.eu

### Java Version

Java 25

### Type of Server

Don't know

### Your Expectation

When I connect to a domain for a Minecraft Server with one A (IPv4) and one AAAA (IPv6) DNS entry, i expect it to attempt connection to IPv6 first and falling back to IPv4 as failover.

### The Reality

When a Server (DNS Name) has multiple IPs (IPv4+IPv6 or multiple for better availability) Minecraft only tries connecting to the first IP returned by the DNS API call.

If that one IP is unavailable, Minecraft will say that the server is down, even though it is available through other IPs.

It therefore also doesn't use the best (fastest responding) server.

Example:

"mc.**********.eu" with:

    5.***.***.***
    2001:****:***:****::1000

When a user now tries to connect to this server, Minecraft will only use the first IP the DNS client returned and ignore all others. And if 5.***.***.*** is unavailable or has degraded performance (because of a CGNAT on the user's side) connecting will fail and users will have a worse experience playing on the server.

 

The correct behavior is documented in RFC1123 (Section 2.3 Applications on Multihomed hosts) https://www.rfc-editor.org/rfc/rfc1123#page-14 and RFC8305 https://www.rfc-editor.org/rfc/rfc8305

### Your Proposal

This issue is persistent in the official vanilla Minecraft Version since 2022 or earlier and seems not to be fixed in the newest version.

Bugreports in the official Mojang Bugtracker exists:
https://bugs.mojang.com/browse/MC/issues/MC-255735
https://bugs.mojang.com/browse/MC/issues/MC-255720

Since we are here in a more flexible way with fixing issues and modding the game I propose to look into the network connection function and change it to prefer IPv6 over IPv4 if available.

### Final Checklist

- [x] I have searched this issue tracker and there is nothing similar already. Posting on a closed issue saying the bug still exists will prompt us to investigate and reopen it once we confirm your report.
- [x] I can reproduce this problem consistently by follow the exact steps I described above, or this does not need reproducing, e.g. recipe loophole.
- [x] I have asked other people and they confirm they also have this problem by follow the exact steps I described above, or this does not need reproducing, e.g. recipe loophole.